/frontend/node_modules/
/backend/node_modules/
/backend/csgo-gamestate.log
/node_modules/
/csgo-gamestate.log
/.idea/
/frontend/build/
/frontend/frontend-win32-x64/
/gui/build/
/backend/dist/csgo-gamestate.log
/backend/dist/index.js
/backend/dist/index-linux
/backend/dist/index-macos
/backend/dist/index-win.exe
