@import '../_variables';

.container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.spec {
    box-shadow: pink 0 0 0 5px;
}

.leftContainer {
    left: 0;
    align-items: flex-start;
    margin-left: 2%;
}

.rightContainer {
    right: 0;
    align-items: flex-start;
    margin-right:  2%;
    transform: scaleX(-1);
    svg {
        transform: scaleX(-1);
    }
}

.rightContainerText {
    transform: scaleX(-1);
    text-align: right;
}

.playerName {
    overflow: visible;
    white-space: nowrap;
    position: absolute;
}


.unit {
    width: 20vw;  /* 20% of the viewport width */
    height: 6vh;  /* 6% of the viewport height */
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: row;
}

.healthBarSection {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.utilityBarSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50%;
    bottom: 0;
    align-items: center;
}

.healthBarSectionBackground1 {
    background-color: var(--Background-opacity2);
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    opacity: 60%;
    top:0;
}

.healthBarSectionBackground2 {
    background-color: var(--Background-opacity);
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    opacity: 80%;
    bottom:0;
}


.armorHealthSubsection {
    width: 20%;
    background-color: var(--Background-solid);
    p {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
    /* used for displaying the armor icon on left side */
    svg {
        height: 3vh;
        fill: white;
    }
}

.HealthBarBase {
    background-color: red;
    transition: all 1s ease;
    flex-grow: 0; // This makes sure the item doesn't grow to fill the container
    flex-shrink: 1; // This ensures the item can shrink if necessary
    height:50%;
    /* More left side health bar stuff */
}


@for $i from 0 through 100 {
    .HealthBar#{$i} {
        width: $i * 1%; // This directly sets the width using a percentage
    }
}


.HealthBarTColor {
    //background: linear-gradient(
    //                90deg,
    //                rgba(156, 36, 0, 1) 0%,
    //                rgba(152, 79, 0, 1) 25%,
    //                rgba(213, 96, 0, 1) 100%
    //);
    background:  var(--T-color);
}

.HealthBarCTColor {
    //background: linear-gradient(
    //                90deg,
    //                rgb(0, 63, 176) 0%,
    //                rgb(0, 84, 185) 25%,
    //                rgba(0, 135, 176, 1) 100%
    //);
    background:  var(--CT-color);
}

.primary {
    top:0;
    position: absolute;
    background-color: transparent;
    height: 3vh;
    right: 0;
}

.secondary {
    bottom:0;
    position: absolute;
    background-color: transparent;
    height: 3vh;
    right: 0;
}

.kad {
    margin-left: 1%;
    position: absolute;
    align-items: center; /* Vertical centering */
    font-size:  100%;
    color: white;
}

.deadSkullSection {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Background-solid);
}

.deadSkullSection svg {
    width: 70%; /* Adjust this value as needed */
    height: auto;
    fill: white;
}

.dead {
    width: 10vw;  /* 20% of the viewport width */
    height: 6vh;  /* 6% of the viewport height */
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: row;
}

.deadName {
    overflow: visible;
    white-space: nowrap;
    background-color: var(--Background-opacity2);
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 60%;
    top:0;
}

.deadNameKADSection {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.deadKAD {
    background-color: var(--Background-opacity);
    height: 50%;
    opacity: 80%;
}

.teamNades {
    img {
        height: 2.5vh;
        margin-left: 0.1vw;
    }
    right: 30%;
    position: absolute;
    bottom: 0;

    .weapon_hegrenade {
        height: 2vh;
        margin-bottom: 0.1vh;
        margin-left: 0.1vw;
    }
    .weapon_flashbang {
        margin-right: 0.1vh;
        margin-bottom: 0.1vh;
    }
    .weapon_incgrenade {
        margin-right: 0.1vh;
    }
    .weapon_smokegrenade {
        height: 2.3vh;
        margin-bottom: 0.1vh;
    }
    .weapon_molotov {
        height: 2.6vh;
    }
    .weapon_decoy {
        height: 2.3vh;
        margin-bottom: 0.1vh;
    }
}

.teamEquipment {
    height: 10vh;
    width: 100%;
    background-color: var(--Background-solid);
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    transition: opacity 1s linear;

    img {
        height: 2.5vh;
        margin-left: 0.1vw;
    }

    .weapon_hegrenade {
        height: 2vh;
        margin-bottom: 0.1vh;
        margin-left: 0.1vw;
    }
    .weapon_flashbang {
        margin-right: 0.1vh;
        margin-bottom: 0.1vh;
    }
    .weapon_incgrenade {
        margin-right: 0.1vh;
    }
    .weapon_smokegrenade {
        height: 2.3vh;
        margin-bottom: 0.1vh;
    }
    .weapon_molotov {
        height: 2.6vh;
    }
    .weapon_decoy {
        height: 2.3vh;
        margin-bottom: 0.1vh;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 60%;
        margin-left: 4%;
    }
    .column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .value {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .value p {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .value p + p {
        margin-top: 10%;
    }

    #hiddenTeamValue {
        opacity: 0;
    }
}
