@import '../_variables';

.roundWinChild {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 16vw;
  height: 16vh;
  background-color: $Background-opacity;
  margin-top: 16vh;
}

.roundWinParent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.roundWinLogo {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundWinLogoImg {
    width: 100%;
    max-height: 100%;
}
